<div style="margin-top:150px">
  <h1>情報共有アプリ　kouch-bentoとは？</h1>
  <p class="AppDescription-sentence">このアプリは「デリバリー専門店　KOUCH」というお店のデリバリー店員に向けて作ったものです。</p>
  <p class="AppDescription-sentence">デリバリー店員は配達が基本業務なので基本的にお店にいることは少なく忙しくなればなるほど一回で配達する件数も必然的に増えていきます。</p>
  <p class="AppDescription-sentence">そうなるとその日いるメンバー(平均4.5人)で時間に合わせるように効率が求められます。 そこで使用するのがこの情報共有アプリです。</p>
  <p class="AppDescription-sentence">デリバリー 専門店「KOUCH」で働く全ての人に情報共有を円滑に行う事で作業効率をあげて少しでも良いものをお客様に提供して欲しいという思いで作成しました。</p>
<div>